<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.geektimes.projects.user.mybatis.mapper.UsersMapper">

    <select id="getAll" resultType="org.geektimes.projects.user.domain.User">
        select * from users;
    </select>

</mapper>